repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        args: ["--", "--check"]
      - id: clippy
        args: ["--workspace", "--all-targets", "--", "-D", "warnings"]
      - id: cargo-check
        args: ["--workspace"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: check-commit-msg
        name: Check commit message
        entry: scripts/check-commit-msg.py
        language: python
        stages: [commit-msg]
        always_run: true
